body{
    height: 3000px;
}
.box {
    padding: 10px 30px;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.static{
    position: static;
    background-color: black;
}
.relative {
    position: relative;
    top: -15px;
    left: 50px;
    background-color: blue;
}
.absolute{
    position: absolute;
    top: 300px;
    right: 100px;
    background-color: greenyellow;
}